<div class="container mt-3">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Tasks</h1>
</div>
<div class="cards justify-content-center align-center">
  <p><%= @task.title %></p>
    <p><%= @task.details %></p>
    <p><%= @task.completed %></p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Finished!
  </label>
</div>
</div>
</div>
<div class="d-flex justify-content-center">
<%= link_to "Edit Task",  edit_task_path(@task), class: 'btn btn-dark d-flex' %>
 <%= link_to "My Tasks",  tasks_path, class: 'btn btn-dark' %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-dark'
%>
 </div>
</div>
